@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: #121212;
  // color: #fff;
}

.feature-slide {
  @apply h-[550px];
  @apply flex justify-center;

  .swiper {
    @apply relative;

    .swiper-button-prev,
    .swiper-button-next {
      @apply hidden lg:block w-10 h-10 border;
      @apply bg-center bg-no-repeat;

      &::after {
        content: unset;
      }
    }

    .swiper-button-prev {
      @apply absolute top-10 right-16 left-auto #{!important};
      background-image: url("../assets/icons/chevron_left_black_24dp.svg");
    }

    .swiper-button-next {
      @apply absolute top-10 right-4;
      background-image: url("../assets/icons/chevron_right_black_24dp.svg");
    }

    .swiper-pagination {
      @apply -mb-2;
    }
  }
}

.form-error {
  @apply text-red-500 py-1;
}

.h-5 {
  @apply h-auto #{!important};
}
