@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  @apply bg-background;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #121212 inset !important;
  border-top: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}

li {
  color: #121212;
}

.feature-slide {
  @apply h-[550px];
  @apply flex justify-center;

  .swiper {
    @apply relative;

    .swiper-button-prev,
    .swiper-button-next {
      @apply hidden lg:block w-10 h-10 border border-white;
      @apply bg-center bg-no-repeat;

      &::after {
        content: unset;
      }
    }

    .swiper-button-prev {
      @apply absolute top-10 right-16 left-auto #{!important};
      background-image: url("../assets/icons/chevron_left_black_24dp.svg");
    }

    .swiper-button-next {
      @apply absolute top-10 right-4;
      background-image: url("../assets/icons/chevron_right_black_24dp.svg");
    }

    .swiper-pagination {
      @apply -mb-2;
    }

    .swiper-pagination-bullet {
      @apply bg-white;
    }

    .swiper-pagination-bullet-active {
      @apply bg-blue-500;
    }
  }
}

.form {
  .input-text {
    @apply text-white;
  }

  label {
    @apply text-white #{!important};
  }
}

.form-error {
  @apply text-red-500 py-1 pl-3 text-[14px];
}

.h-5 {
  @apply h-auto #{!important};
}
